#wrapper
  .span8
    %ul.bxslider
      - @property.images.each do |image|
        %li
          = image_tag(image.file.url(:large))

    .bx-pager
      - @property.images.each do |image|
        %a(data-slide-index="0")
          = image_tag(image.file.url(:large))
:javascript
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });


    // agregar fotos de aspect cuadrado, no wide porque si no se va a ajustar al widescreen



    