#wrapper
  .slider-wrapper.theme-default.span8
    #slider.nivoSlider
      - @property.images.each do |image|
        = image_tag(image.file.url(:large), :data => {:thumb => "slider/toystory.jpg"}, :data => {:transition => "fade"})
:javascript
  $(window).load(function() {
    $('#slider').nivoSlider({
      animSpeed: 500,
      pauseTime: 2000
    });
  });


    // agregar fotos de aspect cuadrado, no wide porque si no se va a ajustar al widescreen



    