#wrapper
    %ul.bxslider
        %li
            %a(href="properties?type_of_property=Luxury+Properties")
                %img(src="slider/slider01.jpg" title="Luxury Properties")
        %li
            %a(href="properties?type_of_property=Urban+Properties")
                %img(src="slider/slider02.jpg" title="Urban Properties")
        %li  
            %a(href="properties?type_of_property=Commercial+Properties") 
                %img(src="slider/slider03.jpg" title="Commercial Properties")
        %li  
            %a(href="properties?type_of_property=Campos+Country-Clubs") 
                %img(src="slider/slider04.jpg" title="Campos & Country-Clubs")
        %li 
            %a(href="properties?type_of_property=Desarollos+Inmobiliarios")  
                %img(src="slider/slider05.jpg" title="Developments")

:javascript
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            auto: true,
            mode: 'fade',
            captions: true
        });
    });