%h1 SIAN Group
%p
  SIAN GROUP surge de la unión de varios profesionales con vasta experiencia en Real Estate en el ámbito nacional e internacional. Nos especializamos en la compra, venta y alquiler de casas y departamentos de categoría.
  %br
  %br
  Trabajamos para satisfacer las búsquedas de empresas, embajadas e instituciones que requieran atención personalizada.
  %br
  %br
  Entre nuestros servicios ofrecemos orientación jurídica, financiera y ponemos a disposición de nuestros clientes una amplia agenda de profesionales acorde a cada necesidad.
  %br
  %br
  LUXURY PROPERTIES: exclusivos inmuebles de lujo, que se destacan por su diseño o ubicación excepcional, lo que las convierte en piezas únicas dentro del mercado.
  %br
  %br
  URBAN PROPERTIES: propiedades que apuntan a cubrir las necesidades de un consumidor urbano, tales como casas y departamentos.
  %br
  %br
  COMMERCIAL PROPERTIES: oficinas, hoteles, depósitos, galpones y empresas.
  %br
  %br
  DEVELOPMENTS: asesoramiento integral en créditos e inversiones inmobiliarias. Desarrollos y proyectos a futuro.
  %br
  %br
  COUNTRY PROPERTIES: campos, chacras, casas en Country Clubs y barrios cerrados.