%h1 SIAN Group
%p
  SIAN GROUP es una empresa que nació con el fin de detectar  y  satisfacer las verdaderas necesidades de sus clientes: luego de una vasta experiencia en el mercado, tanto nacional como internacional, profesionales inmobiliarios, expertos comercializadores y publicistas de primer nivel, decidieron emprender un rumbo diferente al ya transitado en este rubro, ofreciendo a sus clientes un servicio de primer nivel, dedicado a acompañar desde el primer  momento de manera incesante hasta concretar la operación a aquellos que  buscan comprar-vender o alquilar una propiedad, identificando cada necesidad de manera personalizada y ofreciendo un servicio diferenciado, centrados en proteger los verdaderos intereses de sus clientes.
  %br
  %br
  La idea de segmentar los productos y ponerlos en manos de profesionales especializados conllevó a definir áreas diferenciadas para la compra-venta o alquiler de propiedades y encuadrarlos en varios grupos definidos de la siguiente manera:
  %br
  %br
  LUXURY PROPERTIES: Apunta al target ABC1 con propiedades que se destacan con valores agregados tales como sus dimensiones, el diseño o ubicaciones excepcionales, lo cual las convierte en” verdaderas joyas inmobiliarias”.- Propiedades dentro del ámbito de la República Argentina y del Exterior.-
  %br
  %br 
  URBAN PROPERTIES: son aquellas,  urbanas de menor valor, que apuntan a cubrir las necesidades del consumidor medio, casas o departamentos en el ámbito de la Ciudad o la Provincia de Buenos Aires.-
  %br
  %br 
  COMMERCIAL PROPERTIES: Propiedades vinculadas a diversas actividades destinadas al uso comercial, tales como Oficinas, Hoteles, Depósitos, Galpones, Empresas , etc
  %br
  %br 
  DEVELOPMENTS: Desarrollos y proyectos inmobiliarios a futuro, asesorando a todas aquellas personas que deseen invertir exitosamente su dinero.-
  %br
  %br 
  COUNTRY PROPERTIES: Campos, Chacras, Casas en Country Clubs, Barrios Cerrados, etc.-
	  
