%h1 SIAN Group
%p
  SIAN GROUP surge de la unión de varios profesionales  con vasta experiencia en Real Estate en el ámbito nacional e internacional.
  Nos especializamos en la compra, venta y alquiler de casas y departamentos premium.
  Satisfacemos las búsquedas de empresas, embajadas e instituciones que requieran atención personalizada.
  Damos orientación jurídica, financiera y ponemos a disposición de nuestros clientes una amplia agenda de profesionales.
  A tal fin, se segmentaron las productos en cuatro áreas diferenciadas:
  %br
  %br
  La idea de segmentar los productos y ponerlos en manos de profesionales especializados conllevó a definir áreas diferenciadas para la compra-venta o alquiler de propiedades y encuadrarlos en varios grupos definidos de la siguiente manera:
  %br
  %br
  LUXURY PROPERTIES: Apunta al target ABC1 con propiedades que se destacan por su diseño o ubicacion excepcional, lo cuál las convierte en” verdaderas joyas inmobiliarias”.-
  %br
  %br 
  URBAN PROPERTIES: Propiedades de menor valor, que apuntan a cubrir las necesidades del consumidor medio .-
  %br
  %br 
  COMMERCIAL PROPERTIES: Oficinas, Hoteles, Depósitos , Galpones, Empresas .
  %br
  %br 
  DEVELOPMENTS: Desarrollos y proyectos inmobiliarios a futuro.- Asesoramiento en toma de créditos.
  %br
  %br 
  COUNTRY PROPERTIES: Campos, Chacras, Casas en Country Clubs, Barrios Cerrados.