%h1 SIAN Group
%p
  SIAN Group rises from the union of several professionals with extensive experience in both local and international Real Estate.  We specialize in purchasing (Br buying), selling and renting premium homes and apartments (Br flats).  We meet the demands of those looking for personal assistance as companies, embassies and other institutions.Also, we provide legal and financial guidance, making a wide contact list of professionals available for our clients.  
  For a better service products have been segmented in four distinct areas: 
  %br
  %br
  LUXURY PROPERTIES: Directed to ABC1 public with properties  which stand out in design or due to their exceptional location, making them “real estate jewels”.-
  %br
  %br 
  URBAN PROPERTIES: Set within a lower value, targeting the needs of an average consumer.-
  %br
  %br 
  COMMERCIAL PROPERTIES: Office spaces, Hotels, Warehouses, Storehouse, company space.-
  %br
  %br 
  DEVELOPMENTS: Developments and real estate future projects.  Counseling on taking on loans.- 
  %br
  %br 
  COUNTRY PROPERTIES: Fields/plots, Farms, Country clubs properties, Gated communities.-