.row-fluid
  .row-fluid
    %h1 Contacto
.row-fluid
  .span6
    %h2 Envianos tu consulta
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore 
    %br
    %form
      %input(type="text" placeholder="Nombre")
      %br
      %input(type="email" placeholder="E-mail")
      %br
      %textarea(placeholder="Comentarios...")
      %br
  .span6
    %h2 Contacto
    %ul
      %li address 1
      %li phone 1
      %li address 2
      %li phone 2