.row-fluid
  .span6
    %h2 Envianos tu consulta
    %form
      %input(type="text" placeholder="Nombre")
      %br
      %input(type="tel" placeholder="Teléfono")
      %br
      %input(type="email" placeholder="E-mail")
      %br
      %textarea(placeholder="Comentarios...")
      %br
      %input(type="submit" value="Enviar Consulta")
  .span6
    %h2 Contacto
    .span6
      %h4 BELGRANO
      %p
        Moldes 2276 
        %br
        C1428CRJ - CABA
        %br
        Tel/Fax - 4781-7000 y Rot.
        %br
        info@siangroup.net
    .span6
      %h4(style="margin-top:30px;") ZONA NORTE
      %p
        San Lorenzo. 807 - La Lucila
        %br
        1636 - Pdo. Vicente López
        %br
        Tel/Fax - 4784-0593 y Rot.
        %br
        info@siangroup.net