= render "slider"

#homeText
	%h3 Nosotros
	%p SIAN GROUP es una empresa que nació con el fin de detectar  y  satisfacer las verdaderas necesidades de sus clientes: luego de una vasta experiencia en el mercado, tanto nacional como internacional, profesionales inmobiliarios, expertos comercializadores y publicistas de primer nivel, decidieron emprender un rumbo diferente al ya transitado en este rubro, ofreciendo a sus clientes un servicio de primer nivel, dedicado a acompañar desde el primer  momento de manera incesante hasta concretar la operación a aquellos que  buscan comprar-vender o alquilar una propiedad, identificando cada necesidad de manera personalizada y ofreciendo un servicio diferenciado, centrados en proteger los verdaderos intereses de sus clientes.
.row-fluid.propicons
	%ul
		%li
			%a.luxury(href="#")
			%h4 Luxury
			%h4 Properties
		%li
			%a.urban(href="#")
			%h4 Urban
			%h4 Properties
		%li
			%a.commercial(href="#")
			%h4 Commercial
			%h4 Properties
		%li
			%a.campos(href="#")
			%h4 Campos &
			%h4 Country-Clubs
		%li
			%a.developments(href="#")
			%h4 Desarollos
			%h4 Inmobiliarios
