.about{
	h1{
		color: rgb(147, 148, 148);
		width: 100%;
		border-bottom: rgb(187, 187, 187) solid thin;
		margin: 20px 0 50px 0;
		padding: 0 0 60px 0;
		font-size: 24pt;
	}
	.aboutText{
		h3{
			color: #1bc0dd;
			text-align: left;
			margin: 0 0 30px 0;
			font-size: 12pt;
		}
		p{
			color: #a5b8b6;
			margin: 0 0 50px 0;
		}
	}

}