/*
 *= require nubis_rails_boilerplate/activeadmin
 */
body.active_admin form fieldset > ol > li fieldset ol {
	padding: 5% 1%;
	width: 100%;
	li{
		padding: 5px 0;
		label{
			width: 19%;
		}
	}
}

body.edit{
	.images{
		img{
			width: 100%;
			margin-top: 7px;
			float: left;
		}
	}
}

#property_property_keywords_en_input label,
#property_property_amenities_en_input label,
#property_property_description_en_input label,
#property_puntos_interes_en_input label,
#property_ambientes_en_input label{
	color: #E3B3CB;
}