/*
 *= require nubis_rails_boilerplate/activeadmin
 */
body.active_admin form fieldset > ol > li fieldset ol {
	padding: 5% 1%;
	width: 100%;
	li{
		padding: 5px 0;
		label{
			width: 19%;
		}
	}
}

body.edit{
	.images{
		img{
			width: 100%;
			margin-top: 7px;
			float: left;
		}
	}
}
#property_location_input + #property_location_input{
	/*display: none;*/
}