.contact_us{
	.barrio{
		margin-left: 0px;
		width:100%;
	}
	.hr{
		width:40px;
		height:1px;
		background: #ccc;
	}
	h2{
		font-size: 19px;
		text-transform: uppercase;
		letter-spacing: 0px;
		border-bottom:0px;
	}
	h4{
		font:15px "HelveticaNeueLTStd-Cond";
		margin-top:7px;
	}
	form{
		input{
			font: 12px 'HelveticaNeueLTStd-Roman';
			min-width:80%; 
			max-width:80%; 
			min-height:20%; 
			max-height:20%;
			background: transparent;
			border: 1px solid #ddd;
			border-radius:5px;
			width:95%;
		}
		button[type="submit"]{
			width:30%;
			border:none;
			background:none;
			font: 12px "HelveticaNeueLTStd-Cond";
			color:#808080;
			text-transform:uppercase;
			margin-top:10px;
			text-align:center;
			border:1px solid #ccc;
			margin:0 26.5%;
			padding:6px 0 3px;
			border-radius:50px;
		}
		button[type="submit"]:hover{
			color:#aaa;
			background:#fff;
		}
		textarea{
			font: 12px/24px 'HelveticaNeueLTStd-Roman';
			min-width:80%; 
			max-width:80%;
			min-height:150px; 
			max-height:150px;
			border: 1px solid #ddd;
			border-radius: 5px;
			background: transparent;
		}
		textarea:focus{
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 153, 153, 0.6);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 153, 153, 0.6);
			box-shadow: none;
		}
	}
}