.home{
	ul{
		margin: 20px 0px 0px 0px;
		list-style:none;
		li{
			width: 20%;
			text-align:center;
			float:left;
      a{
        width:100%;
      }
			a:hover{
				text-decoration:none;
				}
			a:hover p{
				font-weight:900;
			}
			h4{
        width:100%;
        font:14px 'HelveticaLTStd-Light';
				color:#9CA2A4; 
				letter-spacing:1pt;
				margin:0px;
			}
			hr{
				width: 15%;
				margin: 10px auto;
      }
			p{
				color: #a5b8b6;
				text-align: center;
				width: 90%;
				margin: auto;
				font-size: 0.9em;
			}
		}
		
	} 
	
}