@media(min-width: 980px){
  /*body { padding-top: 60px; }*/
}

/*FONTS*/
@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-MdCn';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-MdCn.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-MdCn.eot', font) format('embedded-opentype'),
	     /*asset-url('helvetica/HelveticaNeueLTStd-MdCn.woff', font) format('woff'),*/
	     asset-url('helvetica/HelveticaNeueLTStd-MdCn.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-MdCn.svg', font) format('svg');
}
@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-Roman';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-Roman.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-Roman.eot', font) format('embedded-opentype'),
	     /*asset-url('titilliumtext22l004-webfont.woff', font) format('woff'),*/
	     asset-url('helvetica/HelveticaNeueLTStd-Roman.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Roman.svg', font) format('svg');
}

h1, h2, h3, h4, h5{
	font-family: 'HelveticaNeueLTStd-Roman';
	text-align: center;
	margin: 0;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.75em;
}
h4{
	font: 1.3em/1.4em 'HelveticaNeueLTStd-Roman';
}
h5{
	font-size: 1.125em;
	line-height: 1.2em;
	margin: 0;
}
p{
	font: 1.13em/1.5em 'HelveticaNeueLTStd-Roman';
	margin: 0;
}

.title{
	margin: 0 auto;
	text-align: center;
	h1{
		min-width: 25%;
		display: inline-block;
		text-transform: uppercase;
	}
	.line{
		border: .1em solid #888;
		width: 15%;
		position: relative;
		top: -.5em;
		margin: 0 1em;
		display: inline-block;
	}
}
.subtitle{
	color: #666;
	margin-bottom: 1em;
}
@media (min-width: 1200px){
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1080px;
}
}
.navbar .brand {
	margin: 0;
}
.navbar .nav{
	display:inline-block;
	float:none;
	li{
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
	}
}

 .navbar-inner {
    text-align:center;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
/*CAROUSEL OVER-RIDE*/

.carousel-control {
	width: 60px;
	height: 100%;
	top: 0;
	margin-top: 0;
}
.carousel-caption {
	left: 500px;
	bottom: 30px;
	font-size: 24px;
	width: 40%;
	background: none;
	background: none;
}
/*LAYOUT*/
/*
NAV
*/
@mixin border($color){
	border: $color solid thin;
}
.navbar{
	margin-bottom:100px;
	font-family: 'HelveticaNeueLTStd-Roman';
	-moz-font-family: 'HelveticaNeueLTStd-Roman';
	.navbar-inner{
		height: 120px;
		background: #1bc0dd;
		.brand{
			/*@include border(white);*/
			background: url(sian_sprite_home-01.png) -19px -4px;
			width: 50px;
			height: 60px;
			display: block;
			margin-top: 1.2em;
			margin-left: 100px;
		}
		#title{
			color: white;
			font: 33px 'HelveticaNeueLTStd-Roman';
			-moz-font-family: 'HelveticaNeueLTStd-Roman';
			line-height: 132px;
			height: 120px;	
			margin: 0 0 0 20px;
			text-decoration: none;
		}
		#navJuan{
			margin: 20px auto 0;
			/*@include border(blue);*/
			height: 45px;
			width:900px;
			border-bottom:#A9AAAA solid thin;
		}
		
		ul.nav{
			width: 600px;
			li{
				height: 41px;
				a{
					text-shadow:none;
					color: #1bc0dd;
				}
			}
			li:hover{
			border-bottom: #a9aaaa solid 4px;
		}
		}
	}
}

@mixin select($section){
  body.#{$section}{
    ##{$section} a{
      color: #1bc0dd;
    }
  }
}

@each $section in (properties, neighborhoods, about_us, contact_us) {
  @include select($section);
}
input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
background-color: #DBDACE;
border: 1px solid rgb(122, 121, 121);
webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus{
border-color: rgba(167, 167, 168, 0.8);
-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
}
/*
FOOTER
*/
.footer{
	background: #DBDACE;
	opacity: 0.8;
	color: #FFF;
	padding-top: 5em;
	padding-bottom: 3.5em;
	margin-top: 4.063em;
		h4{
			font-weight: 900;
			font-size: 1.05em;
		}
		.container-inner{
			width: 920px;
			margin: auto;
		}
	.newsletter{
		float: left;
		display: inline-block;
		margin: 0 80px 0 0;
		h4{
			float: left;
			margin: 0 0 25px 0;
			color: #9e9d9a;
		}
	}
	.barrio{
		display: inline-block;
		margin:0;
		float: left;
		text-align: left;
		color: #9e9d9a;
		h4{
			display: inline;
			margin: 0 0 30px 0;
			}
		p{
			margin: 20px 0 0 0;
			font-family: 14px;
			}
		.barrioInner{
			
			float: left;
			margin: 0;
			padding: 0;
			width: 50%;
			}
	}
	.social{
		float: right;
		margin: 0;
		color: #9e9d9a;
		h4{
			margin: 0;
			margin-bottom: 21px;
			text-align: left;

		}
		.facebook, .twitter{
			background: url(sian_sprite_home-01.png) ;
			background-size: 220%;
			float: left;
			width: 38px;
			height: 39px;
			display: block;
			cursor: pointer;
			margin-left:0;
		}
		.facebook{
			background-position: -3px -607px;
			margin-left:5%;
		}
		.twitter{
			background-position: -42px -607px;
		}
	}
}

/*
GENERAL
*/
.slider-next, .slider-prev{
	background: url(sian_sprite_home-01.png)-3px -607px;
	width: 2.429em;
	height: 4.714em;
	display: block;
	position: relative;
	top: 4.5em;
	cursor: pointer;
}
.slider-prev{
	background-position: -85px -80px;
}
.slider-next{
	background-position: -120px -80px;
	top: 3em;
	right: -5em;
}



