a:hover, a:active, a:focus {
  outline:0;
}
@media (min-width: 980px){
  #main{
    width:100%;
  }
  .row-fluid, .container {
   width: 920px;
   margin:0 auto;
  }
  #title{
    height:140px;
  }
  #nav{
		margin: 8px auto 0;
		border-bottom: #a9aaaa solid 1px;
		width:100%;
		height:34px;
		ul.nav{
  		width: 65%;
  		margin:0 auto;
  		li{
  			width:25%;
  			a{
  				text-shadow:none;
  				color: #1bc0dd;
  				width:auto;
  				padding:5px 0px;
  				text-align:center;
  			}
  		}
  		li:hover{
  	    border-bottom: #a9aaaa solid 4px;
  	    a{
  	    background:transparent;
  	    }
  	  }
  	}
	}
  .slider{
    width:920px;
		height: 450px;
		position: relative;
		top: 0px;
		margin: 15px auto 0;
		img{
			width: 100%;
			height: auto;
		}
  	.carousel-control{
      background: none;
  		border: 0px;
  		-webkit-border-radius: 0;
  		-moz-border-radius: 0;
  		border-radius: 0;
  		text-indent: -9999px;
  		background-image: url(flechasweb.png);
  		line-height: 2em;
  	}
  	.left{
      background-position: 0px 170px;
      background-repeat: no-repeat;
    }
  	.right{
      background-position: -72px 170px;
      background-repeat: no-repeat;
    }
  }
}

/*FONTS*/
@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-MdCn';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-MdCn.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-MdCn.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaNeueLTStd-MdCn.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-MdCn.svg', font) format('svg');
}
@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-Roman';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-Roman.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-Roman.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Roman.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Roman.svg', font) format('svg');
}
@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-UltLtEx';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-UltLtEx.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-UltLtEx.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaNeueLTStd-UltLtEx.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-UltLtEx.svg', font) format('svg');
}

h1, h2, h3, h4, h5{
	font-family: 'HelveticaNeueLTStd-Roman';
	text-align: center;
	margin: 0;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.75em;
}
h4{
	font: 1.3em/1.4em 'HelveticaNeueLTStd-Roman';
}
h5{
	font-size: 1.125em;
	line-height: 1.2em;
	margin: 0;
}
p{
	font: 1.13em/1.5em 'HelveticaNeueLTStd-Roman';
	margin: 0;
}

.title{
	margin: 0 auto;
	text-align: center;
	h1{
		min-width: 25%;
		display: inline-block;
		text-transform: uppercase;
	}
	.line{
		border: .1em solid #888;
		width: 15%;
		position: relative;
		top: -.5em;
		margin: 0 1em;
		display: inline-block;
	}
}
.subtitle{
	color: #666;
	margin-bottom: 1em;
}

.navbar .brand {
	margin: 0;
}
.navbar .nav{
	display:inline-block;
	float:none;
	li{
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
	}
}

 .navbar-inner {
    text-align:center;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
/*CAROUSEL OVER-RIDE*/

.carousel-control {
	width: 60px;
	height: 100%;
	top: 0;
	margin-top: 0;
}
.carousel-caption {
	left: 500px;
	bottom: 30px;
	font-size: 24px;
	width: 40%;
	background: none;
	background: none;
	h4{
	 text-align:right;
	}
}
/*LAYOUT*/
/*
NAV
*/
@mixin border($color){
	border: $color solid thin;
}
#header{
  background:#18C1DF;
  width:100%;
  height:140px;
  .logo{
		background: url(logo.png) no-repeat center left;
		width: 140px;
		height: 140px;
		display: block;
		margin:0px;
		padding:0px;
  }
  #title{
		color: #fff;
		font: 30px 'HelveticaNeueLTStd-UltLtEx';
		line-height: 140px;
		text-align:left;
		width:100%;
		height: 140px;	
		margin: 0px;
		text-decoration: none;
		letter-spacing:1.8pt;
	}
	.lang{
    height:140px;
    float:right;
    a{
      font: 13px 'HelveticaNeueLTStd-UltLtEx';
		  text-align:left;
		  color:#fff;
		  line-height:140px;
		  letter-spacing:0.5pt;
		  padding:0px 0px 2.5px 0px;
		  text-decoration:none;
		  border:0px;
    }
    a.select{
       border-bottom:1px solid #fff;
       font-weight:bold;
    }
    a:hover{
      border-bottom:1px solid #fff;
    }
    .hr{
      height:10px;
    }
	}
}
.navbar{
	font-family: 'HelveticaNeueLTStd-Roman';
	-moz-font-family: 'HelveticaNeueLTStd-Roman';
	.navbar-inner{
		height: 140px;
		background: #1bc0dd;
	}
}

@mixin select($section){
  body.#{$section}{
    ##{$section} a{
      color: #1bc0dd;
    }
  }
}

@each $section in (properties, neighborhoods, about_us, contact_us) {
  @include select($section);
}
input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
background-color: #DBDACE;
border: 1px solid rgb(122, 121, 121);
webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus{
border-color: rgba(167, 167, 168, 0.8);
-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
}
/*
FOOTER
*/
.footer{
	background: #DBDACE;
	opacity: 0.8;
	color: #FFF;
	padding-top: 5em;
	padding-bottom: 3.5em;
	margin-top: 4.063em;
    p{
			margin: 20px 0 0 0;
			font-size:14px;
			line-height:21px;
		}
		h4{
			font-weight: 900;
			font-size: 14px;
		}
		.container-inner{
			width: 920px;
			margin: auto;
		}
	.newsletter{
		float: left;
		display: inline-block;
		margin: 0 80px 0 0;
		h4{
			float: left;
			margin: 0 0 25px 0;
			color: #9e9d9a;
		}
	}
	.barrio{
		display: inline-block;
		margin:0;
		float: left;
		text-align: left;
		color: #9e9d9a;
		h4{
			display: inline;
			margin: 0 0 30px 0;
			}
		.barrioInner{
			
			float: left;
			margin: 0;
			padding: 0;
			width: 50%;
			}
	}
	.social{
		float: right;
		margin: 0;
		color: #9e9d9a;
		h4{
			margin: 0;
			margin-bottom: 21px;
			text-align: left;

		}
		.facebook, .twitter{
			background: url(sian_sprite_home-01.png) ;
			background-size: 220%;
			float: left;
			width: 38px;
			height: 39px;
			display: block;
			cursor: pointer;
			margin-left:0;
		}
		.facebook{
			background-position: -3px -607px;
			margin-left:5%;
		}
		.twitter{
			background-position: -42px -607px;
		}
	}
}

/*
GENERAL
*/
.slider-next, .slider-prev{
	background: url(sian_sprite_home-01.png)-3px -607px;
	width: 2.429em;
	height: 4.714em;
	display: block;
	position: relative;
	top: 4.5em;
	cursor: pointer;
}
.slider-prev{
	background-position: -85px -80px;
}
.slider-next{
	background-position: -120px -80px;
	top: 3em;
	right: -5em;
}



