/*FONTS*/

@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-Roman';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-Roman.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-Roman.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Roman.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Roman.svg', font) format('svg');
}

@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-UltLtEx';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-UltLtEx.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-UltLtEx.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaNeueLTStd-UltLtEx.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-UltLtEx.svg', font) format('svg');
}
@font-face {
  font: {
		 family: 'HelveticaLTStd-Light';
	   weight: 'normal';
	   style: 'normal';
	}
  src: asset-url('helvetica/HelveticaLTStd-Light.eot', font);
	src: asset-url('helvetica/HelveticaLTStd-Light.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaLTStd-Light.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaLTStd-Light.svg', font) format('svg');
}
/*BASICS*/

body{
  background:url(bg.jpg) repeat;
}
a:hover, a:active, a:focus {
  outline:0;
}
h1{
	font:36px 'HelveticaNeueLTStd-UltLtEx';
	text-align: center;
	color: #819395;
	margin:30px 0px;
	letter-spacing:1.1pt;
}
h2{
	font:36px 'HelveticaNeueLTStd-UltLtEx';
	text-align: left;
	color: #819395;
	margin:30px 0px;
	border-bottom: 1px solid #ccc;
	letter-spacing:1.1pt;
}
h3{
	font:36px 'HelveticaNeueLTStd-UltLtEx';
	text-align: center;
	color: #1bc0dd;
	margin:30px 0px;
	letter-spacing:1.5pt;
}
h4{
	font: 1.3em/1.4em 'HelveticaNeueLTStd-Roman';
	color:#606060;
}
h5{
	font:24px 'HelveticaNeueLTStd-UltLtEx';
	text-align: center;
	color: #1bc0dd;
	margin:0px;
}
h6 {
    color: #819395;
    font: 20px "HelveticaNeueLTStd-UltLtEx";
    margin: 0 0 20px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    letter-spacing:0.4pt;
}
p{
	font: 1em/1.85em 'HelveticaLTStd-Light';
	margin:0;
	padding:0;
	color: #3A4447;
}

.title{
	margin: 0 auto;
	text-align: center;
	h1{
		min-width: 25%;
		display: inline-block;
		text-transform: uppercase;
	}
	.line{
		border: .1em solid #888;
		width: 15%;
		position: relative;
		top: -.5em;
		margin: 0 1em;
		display: inline-block;
	}
}
.subtitle{
	color: #666;
	margin-bottom: 1em;
}

/*CAROUSEL OVER-RIDE*/

.carousel-control {
	width: 60px;
	height: 100%;
	top: 0;
	margin-top: 0;
}
.carousel-caption {
	left: 500px;
	bottom: 30px;
	font-size: 24px;
	width: 40%;
	background: none;
	background: none;
	h4{
	 text-align:right;
	}
}
/*LAYOUT*/
/*
NAV
*/
.navbar-fixed-top{
  position:relative;
}
.navbar-inverse .navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border-bottom:1px solid #ccc;
    box-shadow:none;
}
.navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top {
  margin:0px;
}

@mixin border($color){
	border: $color solid thin;
}
#header{
  background:#18C1DF;
  width:100%;
  height:140px;
  .logo{
		background-image: url(logo.png);
		background-repeat: no-repeat;
		display: block;
		margin:0px;
		padding:0px;
  }
  #title{
		color: #fff;
		font: 30px 'HelveticaNeueLTStd-UltLtEx';
		line-height: 140px;
		text-align:left;
		width:100%;
		height: 140px;	
		margin: 0px;
		text-decoration: none;
		letter-spacing:1.8pt;
	}
	.lang{
    height:140px;
    float:right;
    a{
      font: 13px 'HelveticaNeueLTStd-UltLtEx';
		  text-align:left;
		  color:#fff;
		  line-height:140px;
		  letter-spacing:0.5pt;
		  padding:0px 0px 2.5px 0px;
		  text-decoration:none;
		  border:0px;
    }
    a.select{
       border-bottom:1px solid #fff;
       font-weight:bold;
    }
    a:hover{
      border-bottom:1px solid #fff;
    }
    .hr{
      height:10px;
    }
	}
}

@mixin select($section){
  body.#{$section}{
    ##{$section} a{
      color: #1bc0dd;
    }
  }
}

@each $section in (properties, neighborhoods, about_us, contact_us) {
  @include select($section);
}
input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
background-color: #DBDACE;
border: 1px solid rgb(122, 121, 121);
webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus{
border-color: rgba(167, 167, 168, 0.8);
-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
}
/*
FOOTER
*/
.footer{
	background: #DBDACE;
	opacity: 0.8;
	padding-top: 5em;
	padding-bottom: 3.5em;
	margin-top: 4.063em;
  p{
		margin: 20px 0 0 0;
		color:#515050;
	}
	h4{
		font:14px 'HelveticaNeueLTStd-Roman';
	}
	.container-inner{
		width: 920px;
		margin: auto;
	}
	.newsletter{
		float: left;
		display: inline-block;
		margin: 0 80px 0 0;
	}
	.barrio{
		display: inline-block;
		margin:0;
		float: left;
		text-align: left;
		color: #7b7b79;
		.barrioInner{
			float: left;
			margin: 0;
			padding: 0;
			width: 50%;
		}
	}
	.social{
		float: right;
		margin: 0;
		.facebook, .twitter{
			background: url(sian_sprite_home-01.png) ;
			background-size: 220%;
			float: left;
			width: 38px;
			height: 39px;
			display: block;
			cursor: pointer;
			margin-left:0;
		}
		.facebook{
			background-position: -3px;
			margin-left:5%;
		}
		.twitter{
			background-position: -129px;
			background-position: -3px 0px;
			margin-left:5%;
		}
		.twitter{
			background-position: -42px 0px;
		}
		
	}
}

/*
GENERAL
*/
.slider-next, .slider-prev{
	background: url(sian_sprite_home-01.png)-3px -607px no-repeat;
	width: 2.429em;
	height: 4.714em;
	display: block;
	position: relative;
	top: 4.5em;
	cursor: pointer;
}
.slider-prev{
	background-position: -85px -80px;
}
.slider-next{
	background-position: -120px -80px;
	top: 3em;
	right: -5em;
}
/*
SLIDER
*/
.bx-wrapper .bx-viewport {
    background: none;
    border: 0px;
    box-shadow: none;
    left: 0;
}
.bx-wrapper .bx-prev{
	left:20px;
}
.bx-wrapper .bx-next{
	right:20px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background:#819395;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	background:#bbb;
}
.bx-wrapper .bx-caption{
	bottom:40px;
	background:none;
}
.bx-wrapper .bx-caption span{
	font: 30px 'HelveticaNeueLTStd-UltLtEx';
}
/*
ICONS
*/

a.luxury{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:24px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.luxury:hover{
  background-position:24px -127px;
}
a.urban{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:-148px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.urban:hover{
  background-position:-148px -127px;
}
a.commercial{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:-322px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.commercial:hover{
  background-position:-322px -127px;
}
a.campos{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:-672px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.campos:hover{
  background-position:-672px -127px;
}
a.developments{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:-499px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.developments:hover{
  background-position:-499px -127px;
}
.contact_us{
  h4{
    font:15px/18px "HelveticaNeueLTStd-Roman";
    margin-top:7px;
  }
}