/*FONTS*/

@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-Roman';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-Roman.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-Roman.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Roman.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Roman.svg', font) format('svg');
}

@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-Cond';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/HelveticaNeueLTStd-Cond.eot', font);
	src: asset-url('helvetica/HelveticaNeueLTStd-Cond.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Cond.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaNeueLTStd-Cond.svg', font) format('svg');
}
@font-face {
  font: {
		 family: 'HelveticaLTStd-Light';
	   weight: 'normal';
	   style: 'normal';
	}
  src: asset-url('helvetica/HelveticaLTStd-Light.eot', font);
	src: asset-url('helvetica/HelveticaLTStd-Light.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/HelveticaLTStd-Light.ttf', font) format('truetype'),
	     asset-url('helvetica/HelveticaLTStd-Light.svg', font) format('svg');
}
@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-BoldCond';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/helveticaltstd-boldcond.eot', font);
	src: asset-url('helvetica/helveticaltstd-boldcond.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/helveticaltstd-boldcond.ttf', font) format('truetype'),
	     asset-url('helvetica/helveticaltstd-boldcond.svg', font) format('svg');
}
@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-Cond';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/helveticaltstd-cond.eot', font);
	src: asset-url('helvetica/helveticaltstd-cond.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/helveticaltstd-cond.ttf', font) format('truetype'),
	     asset-url('helvetica/helveticaltstd-cond.svg', font) format('svg');
}
@font-face {
	font: {
		 family: 'HelveticaNeueLTStd-LightCond';
	   weight: 'normal';
	   style: 'normal';
	}
	src: asset-url('helvetica/helveticaltstd-lightcond.eot', font);
	src: asset-url('helvetica/helveticaltstd-lightcond.eot', font) format('embedded-opentype'),
	     asset-url('helvetica/helveticaltstd-lightcond.ttf', font) format('truetype'),
	     asset-url('helvetica/helveticaltstd-lightcond.svg', font) format('svg');
}
/*BASICS*/

body{
  background:url(bg.jpg) repeat;
}
a:hover, a:active, a:focus {
  outline:0;
}
h1{
	font:34px 'HelveticaNeueLTStd-Cond';
	text-align: center;
	color: #91a3a5;
	margin:50px 0px 40px 0px;
	text-transform: uppercase;
}
h2{
	font:36px 'HelveticaNeueLTStd-Cond';
	text-align: left;
	color: #b1c3c5;
	margin:30px 0px;
	border-bottom: 1px solid #ccc;
	letter-spacing:1.1pt;
}
h3{
	font:36px 'HelveticaNeueLTStd-Cond';
	text-align: center;
	color: #1bc0dd;
	margin:30px 0px;
	letter-spacing:1.5pt;
}
h4{
	font: 1.3em/1.4em 'HelveticaNeueLTStd-Roman';
	color:#606060;
}
h5{
	font:19px 'HelveticaNeueLTStd-Cond';
	text-align: center;
	color: #616365;
	margin:0px;
}
h6 {
    color: #819395;
    font: 18px "HelveticaNeueLTStd-Cond";
    margin: 0 0 20px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
p{
	font: 14px/24px 'HelveticaNeueLTStd-Roman';
	margin:0;
	padding:0;
	color: #3A4447;
	letter-spacing: 0.3pt;
}
li{
	list-style:none;
}

.title{
	margin: 0 auto;
	text-align: center;
	h1{
		min-width: 25%;
		display: inline-block;
		text-transform: uppercase;
	}
	.line{
		border: .1em solid #888;
		width: 15%;
		position: relative;
		top: -.5em;
		margin: 0 1em;
		display: inline-block;
	}
}
.subtitle{
	color: #666;
	margin-bottom: 1em;
}

/*CAROUSEL OVER-RIDE*/

.carousel-control {
	width: 60px;
	height: 100%;
	top: 0;
	margin-top: 0;
}
.carousel-caption {
	left: 500px;
	bottom: 30px;
	font-size: 24px;
	width: 40%;
	background: none;
	background: none;
	h4{
	 text-align:right;
	}
}
/*LAYOUT*/
/*
NAV
*/
.navbar-fixed-top{
  position:relative;
}
.navbar-inverse .navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border-bottom:1px solid #ccc;
    box-shadow:none;
}
.navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top {
  margin:0px;
}
.navbar .nav > li > a{
	font:16px HelveticaNeueLTStd-Cond;
	padding:12px 0px;
}
@mixin border($color){
	border: $color solid thin;
}
#header{
  background:#18C1DF;
  width:100%;
  height:140px;
  .logo{
		background-image: url(logo.png);
		background-repeat: no-repeat;
		display: block;
		margin:0px;
		padding:0px;
  }
  #title{
		color: #f0f0f0;
		font: 34px 'HelveticaLTStd-Light';
		line-height: 140px;
		text-align:left;
		width:100%;
		height: 140px;	
		margin: 0px;
		text-decoration: none;
		letter-spacing:0.2pt;
	}
	.lang{
	    margin-top:40px;
	    float:right;
	    a{
	      font: 13px 'HelveticaNeueLTStd-Cond';
			  text-align:left;
			  color:#f0f0f0;
			  letter-spacing:0.5pt;
			  padding:0px 0px 2.5px 0px;
			  text-decoration:none;
			  border:0px;
			  float:right;
			  margin-left:5px;
	    }
	    a.select{
	    	color:#fff;
	       font-weight:bold;
	    }
	    a:hover{
	    	color:#fff;
	    }
	    .hr{
	      height:10px;
	    }
	    button[type="submit"]{
	    	margin-right:6px;
	    }
	}
	#code{
		width:95%;
		border:0px;
		background:none;
		margin:0px;
		font: 13px "HelveticaNeueLTStd-Cond";
		box-shadow:none;
		padding:0px;
		color:#fff;
		float:right;
		text-transform: uppercase;
		border:0px;
		margin:5px 5px 0px 0px;
	}
	#code_input{
		width:50%;
		float:right;
		margin-right:5px;
	}
	.label, .badge{
		display:none;
	}
	.codebox{
		border:1px solid #fafafa;
		border-radius: 50px;
		float:right;
		button {
		    background: #f0f0f0;
		    border: 0px;
		    color: #1BC0DD;
		    border:2px solid #f0f0f0;
		    font: 12px/14px "HelveticaNeueLTStd-BoldCond";
		    height: 20px;
		    margin-top: 3px;
		    margin-right:6px;
		    padding:0px;
		    width:20px;
		    float:right;
		    border-radius: 20px;
		    padding: 0 0 0 1px;
		}
		button:hover {
		    border: 0px;
		    color: #fff;
		    border:1px solid #fff;
		}
	}
}

@mixin select($section){
  body.#{$section}{
    ##{$section} a{
      color: #1bc0dd;
    }
  }
}

@each $section in (properties, neighborhoods, about_us, contact_us) {
  @include select($section);
}
input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
background-color: #DBDACE;
border: 1px solid rgb(122, 121, 121);
webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus{
border-color: rgba(167, 167, 168, 0.8);
-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
}
/*
FOOTER
*/
.footer{
	background: #DBDACE;
	opacity: 0.8;
	padding-top: 4em;
	padding-bottom: 3.5em;
	margin-top: 4.063em;
  p{
		margin: 20px 0 0 0;
		color:#707070;
	}
	h4{
		font:15px "HelveticaNeueLTStd-Cond";
	}
	.container-inner{
		width: 920px;
		margin: auto;
	}
	.newsletter{
		float: left;
		display: inline-block;
		margin: 0 80px 0 0;
	}
	.barrio{
		display: inline-block;
		margin:0;
		float: left;
		text-align: left;
		color: #7b7b79;
		.barrioInner{
			float: left;
			margin: 0;
			padding: 0;
			width: 50%;
		}
	}
	.social{
		float: right;
		margin: 0;
		.facebook, .twitter{
			background: url(sian_sprite_home-01.png) ;
			background-size: 220%;
			float: left;
			width: 38px;
			height: 39px;
			display: block;
			cursor: pointer;
			margin-left:0;
		}
		.facebook{
			background-position: -3px;
			margin-left:5%;
		}
		.twitter{
			background-position: -129px;
			background-position: -3px 0px;
			margin-left:5%;
		}
		.twitter{
			background-position: -42px 0px;
		}
	}
}

/*
GENERAL
*/
.slider-next, .slider-prev{
	background: url(sian_sprite_home-01.png)-3px -607px no-repeat;
	width: 2.429em;
	height: 4.714em;
	display: block;
	position: relative;
	top: 4.5em;
	cursor: pointer;
}
.slider-prev{
	background-position: -85px -80px;
}
.slider-next{
	background-position: -120px -80px;
	top: 3em;
	right: -5em;
}
/*
SLIDER
*/
.bx-wrapper .bx-viewport {
    background: none;
    border: 0px;
    box-shadow: none;
    left: 0;
}
.bx-wrapper .bx-prev{
	left:20px;
}
.bx-wrapper .bx-next{
	right:20px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background:#819395;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	background:#bbb;
}
.bx-wrapper .bx-caption{
	bottom:55px;
	background:none;
}
.bx-wrapper .bx-caption span{
	font: 38px 'HelveticaNeueLTStd-Cond';
	text-shadow:0px 1px 3px #000;
	text-transform: uppercase;
	letter-spacing: 0.6pt;
}
/*
ICONS
*/

a.luxury{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:24px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.luxury:hover{
  background-position:24px -127px;
}
a.urban{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:-148px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.urban:hover{
  background-position:-148px -127px;
}
a.commercial{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:-322px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.commercial:hover{
  background-position:-322px -127px;
}
a.campos{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:-672px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.campos:hover{
  background-position:-672px -127px;
}
a.developments{
  background-image:url(icons.png);
  background-repeat:no-repeat;
  background-position:-499px 0px;
  float:left;
  height:127px;
  h4{
    margin-top:127px;
  }
}
a.developments:hover{
  background-position:-499px -127px;
}

/*Home*/
.home, .home_en{
	ul{
		margin: 0px 0px 0px 0px;
		list-style:none;
		li{
			width: 20%;
			text-align:center;
			float:left;
      a{
        width:100%;
      }
			a:hover{
				text-decoration:none;
				}
			a:hover p{
				font-weight:900;
			}
			h4{
        width:100%;
        font:13px "HelveticaNeueLTStd-Cond";
				color:#9CA2A4; 
				margin:0px;
				text-transform: uppercase;
			}
			hr{
				width: 15%;
				margin: 10px auto;
      }
			p{
				color: #a5b8b6;
				text-align: center;
				width: 90%;
				margin: auto;
				font-size: 0.9em;
			}
		}
		
	}
	.propicons{
    margin-top:20px;
  }
	
}
