.neighborhoods{
	.show{
		a{
			text-decoration: none;
			color: #000;
			.item{
				width: 90%;
				height: 50em;
				padding: 5%;
				.ph{
					height: 50%;
					margin-bottom: 1em;
					overflow: hidden;
					img{
						height: 100%;
						max-width: none;
					}
				}
				.ph + h5{
					color: #FF0549;
				}
				h5{
					margin: 0;
				}
				.line{
					border: .1em solid #888;
					width: 2em;
					margin: 1.5em auto ;
				}
				p{
					text-align: center;
				}
			}
		}
		.item:hover{
			cursor: pointer;
			background: #DDD;
		}
		.span4:nth-child(3n+1){
			margin-left: 0;
		}
	}
	
}
