.properties{
	.index{
		.dropMenu{
			border-bottom: rgb(162, 160, 160) thin solid;
			select.drop{
				color: rgb(162, 160, 160);
				margin: auto;
				display: block;
				font-size: 3em;
				height: auto;
				vertical-align: middle;
				margin-bottom: 30px;
				margin-top: 20px;
				border: white;
				outline: none;
				option{
					background-color: white;
					border: white;
					outline: none;
				}
			}
		}
		.miniMenuContainer{
			border-bottom: rgb(162, 160, 160) solid thin;
			font-size: .7em;
			margin-bottom: 70px;
			.miniMenu{
				width: 35%;
				margin: auto;
				select.dropMini{
					/*width: 300px;*/
					/*margin: auto;*/
					/*display: block;*/
					color: rgb(162, 160, 160);
					margin: auto;
					font-size: 2em;
					height: 50px;
					vertical-align: middle;
					border: white;
					outline: none;
					option{
						background-color: white;
						border: white;
						outline: none;
					}
				}
			}

		}
		.row-fluid{
			.span4{
				/*margin-bottom: 30px;*/
			}
		}
		a{
			text-decoration: none;
			letter-spacing: 1pt;
			text-transform: uppercase;
			color: #A5B8BC;
			.item{
				width: 100%;
				margin-bottom: 30px;
				.ph{
					height: 250px;
					margin-bottom: 1em;
					overflow: hidden;
					img{
						height:100%;
						max-width: 810px;
					}
				}
				.ph + h5{
					color: #1bc0dd;
					margin: 20px 0 0 0;
					letter-spacing: 1pt;
				}
				h5{
					margin-top: 10px;
				}
				.line{
					border: 1px solid #888888;
					width: 2em;
					margin: 1.5em auto;
					color: #A5B8BC;
				}
				p{
					text-align: center;
					color: #A5B8BC;
				}
				.bottomDetail {
					visibility: hidden;
					margin-top: 34px;
					border-top: rgb(185, 185, 185) solid thin;
					h4{
						margin-top: 10px;
						line-height: 3em;
						color: #1bc0dd;
					}
				}
			}
		}
		.item:hover{
			cursor: pointer;
			background: rgb(225, 230, 231);
			}
		.item:hover .bottomDetail {
			visibility: visible;
			background-color: rgb(236, 236, 236);
		}
		.span4:nth-child(3n+1){
			margin-left: 0;
		}
	}
	.show{
		ul{
			li{
				font: bold 1em/1.85em 'HelveticaLTStd-Light';
				margin:0;
				padding:0;
				color: #3A4447;
			}

		}
	}
}
/*juan1*/ 