
.properties, .properties_en{
	.propicons{
		margin-top:20px;
	}
	.bx-wrapper{
		margin-top:0px;
		.bx-pager{
			display:none;
		}
	}
	.index{
		.dropMenu{
		  outline: 0;
		  margin:30px auto;
		  width:50%;
		}
		select{
		  background:transparent;
		  width:110%;
		  height: auto;
			color: #999;
			margin:0px;
			padding:0px;
			display: block;
			vertical-align: middle;
			border:none;
			outline: 0;
			option{
			  outline: 0;
				background-color: white;
				border: white;
				outline: none;
			}
		}
		.bigselect{
		  width:40%;
		  margin:30px auto 0;
		  .selectmask{
  		  background:url(arrowmini.png) no-repeat right center;
  		  overflow:hidden;
  		  border-bottom:1px solid #ccc;
  		  outline: 0;
  		  select{
  		    font:28px 'HelveticaNeueLTStd-UltLtEx';
  		  }
  		}
		}
		.smallselect{
		  margin-top:40px;
		  margin-bottom:20px;
		  .selectmask{
  		  background:url(arrowmini.png) no-repeat right;
  		  overflow:hidden;
  		  border-bottom:1px solid #ccc;
  		  outline: 0;
  		  select{
  		    font:14px "HelveticaNeueLTStd-Cond";
  		    text-transform: uppercase;
  		  }
  		}
		}
		.container{
			.span4:nth-child(3n+1){
				margin:0;
			}
		}
		a{
			text-decoration: none;
			letter-spacing: 1pt;
			text-transform: uppercase;
			color: #A5B8BC;
			.item{
				width: 100%;
				margin-bottom: 30px;
				min-height: 351px;
				position: relative;
				.ph{
					margin-bottom: 1em;
					overflow: hidden;
					height: 181px;
					img{
						height: 100%;
						width:auto;
					}
				}
				h5{
			    font:15px/18px "HelveticaNeueLTStd-Cond";
			    margin-top: 10px;
			    color: #1bc0dd;
					margin: 20px 0 0 0;
				}
				h1{
			    font:13px/21px "HelveticaNeueLTStd-Roman";
			    margin-top: 10px;
			    color: #91a3a5;
					margin:0px 0px 0px 0px;
					text-transform:capitalize;
				}
				.line{
					border: 1px solid #ccc;
					width: 2em;
					margin: 1em auto;
					color: #ccc;
				}
				p{
					text-align: center;
					color: #606060;
				}
				.bottomDetail {
					visibility: hidden;
					position: absolute;
					bottom: 0px;
					width: 100%;
					border-top: rgb(185, 185, 185) solid thin;
					h4{
					 font:12px/42px "HelveticaNeueLTStd-Cond";
					 text-align:center;
					 margin: 1px 0px 0px 0px;
					 color: #a0a0a0;
					}
				}
			}
		}
		.item{
		  border-bottom:1px solid #ccc;
		}
		.item:hover{
			cursor: pointer;
			background: #E1E6E7;
			.bottomDetail {
		    visibility: visible;
		    background-color: #ECECEC;
		  }
		}
	}
	.show{
		.detalles{
			h2{
				font-size: 24px;
				letter-spacing: 0.2pt;
				margin:0 0 20px;
				color:#91A3A5;
			}
			h1{
				border-bottom: 1px solid #ccc;
			}
			form{
				margin-top:20px;
				input{
					background:#fff;
					border:1px solid #ddd;
					font: 12px "HelveticaNeueLTStd-Roman";
					width:95%;
					border-radius:5px;
				}
				input:focus{
					background:#fff;
					border:1px solid #ddd;
				}
				button{
					border:1px solid #ccc;
					background:none;
					font: 12px "HelveticaNeueLTStd-Cond";
					color:#808080;
					text-transform:uppercase;
					padding: 8px 15px 5px 15px;
					border-radius:50px;
					margin:10px 28% 0 28%;
				}
				button:hover{
					color:#aaa;
					background:#fff;
				}
				textarea{
					width:95%;
					font: 12px "HelveticaNeueLTStd-Roman";
					height:150px;
					background:#fff;
					border:1px solid #ddd;
					border-radius:5px;
				}
				textare:focus{
					background:#fff;
					border:1px solid #ccc;
				}
			}
		}
		.desc{
			margin-top:40px;
			h5{
				border-bottom: 1px solid #ccc;
				text-align: left;
				color: #819395;
				font-size:18px;
				text-transform: uppercase;
			}
			ul{
				margin: 0px;
				list-style: none;
				li{
					font: 12px/21px 'HelveticaNeueLTStd-Roman';
					margin:0;
					padding:0;
					color: #3A4447;
					text-align:left;
					width:100%;
				}
				li:first-child{
					margin-top:20px;
				}
			}	
		}
	}

	/*iconos*/
	ul{
		margin: 0px 0px 0px 0px;
		list-style:none;
		li{
			width: 20%;
			text-align:center;
			float:left;
      a{
        width:100%;
      }
			a:hover{
				text-decoration:none;
				}
			a:hover p{
				font-weight:900;
			}
			h4{
        width:100%;
        font:13px "HelveticaNeueLTStd-Cond";
				color:#9CA2A4; 
				margin:0px;
				text-transform: uppercase;
			}
			hr{
				width: 15%;
				margin: 10px auto;
      }
			p{
				color: #a5b8b6;
				text-align: center;
				width: 90%;
				margin: auto;
				font-size: 0.9em;
			}
		}
		
	} 

}
#map_canvas{
	display: block;
	width: 100%;
	height: 300px;
}
.applyfilters button{
	background: transparent;
	margin-top:32px;
	border:1px solid #ccc;
	font: 12px/21px "HelveticaNeueLTStd-Cond";
	color:#808080;
	height:30px;
	border-radius:50px;
	padding:6px 5px 4px 5px;
	text-transform: uppercase;
}
.applyfilters button:hover{
	color:#aaa;
	background:#fff;
}