
.properties, .properties_en{
	.index{
		.dropMenu{
		  outline: 0;
		  margin:30px auto;
		  width:50%;
		}
		select{
		  background:transparent;
		  width:110%;
		  height: auto;
		  letter-spacing:1pt;
			color: #999;
			margin:0px;
			padding:0px;
			display: block;
			vertical-align: middle;
			border:none;
			outline: 0;
			option{
			  outline: 0;
				background-color: white;
				border: white;
				outline: none;
			}
		}
		.bigselect{
		  width:40%;
		  margin:30px auto 0;
		  .selectmask{
  		  background:url(arrowmini.png) no-repeat right center;
  		  overflow:hidden;
  		  border-bottom:1px solid #ccc;
  		  outline: 0;
  		  select{
  		    font:28px 'HelveticaNeueLTStd-UltLtEx';
  		  }
  		}
		}
		.smallselect{
		  margin-top:30px;
		  margin-bottom:20px;
		  .selectmask{
  		  background:url(arrowmini.png) no-repeat right;
  		  overflow:hidden;
  		  border-bottom:1px solid #ccc;
  		  outline: 0;
  		  select{
  		    font:14px 'HelveticaLTStd-Light';
  		  }
  		}
		}
		.row-fluid{
			.span4{
				/*margin-bottom: 30px;*/
			}
		}
		a{
			text-decoration: none;
			letter-spacing: 1pt;
			text-transform: uppercase;
			color: #A5B8BC;
			.item{
				width: 100%;
				margin-bottom: 30px;
				.ph{
					margin-bottom: 1em;
					overflow: hidden;
					height: 181px;
					img{
						width:100%;
					}
				}
				h5{
			    font:15px/18px 'HelveticaLTStd-Light';
			    margin-top: 10px;
			    color: #1bc0dd;
					margin: 20px 0 0 0;
					letter-spacing: 1pt;
				}
				h1{
			    font:13px/21px 'HelveticaLTStd-Light';
			    margin-top: 10px;
			    color: #819395;
					margin:0px 0px 0px 0px;
					letter-spacing: 1pt;
					text-transform:capitalize;
				}
				.line{
					border: 1px solid #ccc;
					width: 2em;
					margin: 1em auto;
					color: #ccc;
				}
				p{
					text-align: center;
					color: #606060;
				}
				.bottomDetail {
					visibility: hidden;
					margin-top: 15px;
					border-top: rgb(185, 185, 185) solid thin;
					h4{
					 font:13px/42px 'HelveticaLTStd-Light';
					 text-align:center;
					 margin: 1px 0px 0px 0px;
					 color: #a0a0a0;
					}
				}
			}
		}
		.item{
		  border-bottom:1px solid #ccc;
		}
		.item:hover{
			cursor: pointer;
			background: #E1E6E7;
			.bottomDetail {
		    visibility: visible;
		    background-color: #ECECEC;
		  }
		}
	}
	.show{
		.detalles{
			h1{
				border-bottom: 1px solid #ccc;
			}
			form{
				margin-top:20px;
				input{
					background:#fff;
					border:1px solid #ccc;
					font: 0.8em "HelveticaLTStd-Light";
					width:95%;
				}
				input:focus{
					background:#fff;
					border:1px solid #ddd;
				}
				input[type="submit"]{
					float:right;
					border:1px solid #ccc;
					border:none;
					background:none;
					font: 1em "HelveticaLTStd-Light";
					color:#808080;
					text-transform:uppercase;
					margin-top:10px;
				}
				input[type="submit"]:hover{
					color:#aaa;
				}
				textarea{
					width:95%;
					font: 0.8em "HelveticaLTStd-Light";
					height:150px;
					background:#fff;
					border:1px solid #ccc;
					border-radius:0px;
				}
				textare:focus{
					background:#fff;
					border:1px solid #ccc;
				}
			}
		}
		.desc{
			margin-top:40px;
			h5{
				border-bottom: 1px solid #ccc;
				text-align: left;
				color: #819395;
				letter-spacing:0.4pt;
				font-size:20px;
			}
			ul{
				margin: 0px;
				list-style: none;
				li{
					font: 13px/21px 'HelveticaNeueLTStd-Roman';
					margin:0;
					padding:0;
					color: #3A4447;
					text-align:left;
					width:100%;
				}
				li:first-child{
					margin-top:20px;
				}
			}	
		}
	}

	/*iconos*/
	ul{
		margin: 0px 0px 0px 0px;
		list-style:none;
		li{
			width: 20%;
			text-align:center;
			float:left;
      a{
        width:100%;
      }
			a:hover{
				text-decoration:none;
				}
			a:hover p{
				font-weight:900;
			}
			h4{
        width:100%;
        font:14px 'HelveticaLTStd-Light';
				color:#9CA2A4; 
				letter-spacing:1pt;
				margin:0px;
			}
			hr{
				width: 15%;
				margin: 10px auto;
      }
			p{
				color: #a5b8b6;
				text-align: center;
				width: 90%;
				margin: auto;
				font-size: 0.9em;
			}
		}
		
	} 

}
#map_canvas{
	display: block;
	width: 100%;
	height: 300px;
}
.applyfilters button{
	margin-top:25px;
	background:#fff;
	border:1px solid #ccc;
	font: 13px/21px 'HelveticaNeueLTStd-Roman';
	color:#808080;
	height:30px;
}
.applyfilters button:hover{
	color:#333;
	border:1px solid #808080;
}