@media (min-width: 980px){
  #header{
    width:100%;
  }
  .row-fluid, .container {
   width: 920px;
   margin:0 auto;
  }
  .logo{
		background-position: center left;
		width: 100%;
		height: 140px;
  }
  #title{
    height:140px;
  }
  #nav{
		margin: 8px auto 0;
		border-bottom: #ccc solid 1px;
		width:100%;
		height:34px;
		ul.nav{
  		width: 65%;
  		margin:0 auto;
  		li{
  			width:25%;
  			float: left;
  			a{
  				text-shadow:none;
  				color: #1bc0dd;
  				width:auto;
  				padding:5px 0px;
  				text-align:center;
  				letter-spacing:0.7pt;
  			}
  		}
  		li:hover{
  	    border-bottom: #a9aaaa solid 4px;
  	    a{
  	    background:transparent;
  	    }
  	  }
  	}
	}
  .slider{
    width:920px;
		height: 450px;
		position: relative;
		top: 0px;
		margin: 15px auto 0;
		img{
			width: 100%;
			height: auto;
		}
  	.carousel-control{
      background: none;
  		border: 0px;
  		-webkit-border-radius: 0;
  		-moz-border-radius: 0;
  		border-radius: 0;
  		text-indent: -9999px;
  		background-image: url(flechasweb.png);
  		line-height: 2em;
  	}
  	.left{
      background-position: 0px 170px;
      background-repeat: no-repeat;
    }
  	.right{
      background-position: -72px 170px;
      background-repeat: no-repeat;
    }
  }
}
@media (max-width: 480px){
  body{
    margin:0;
    padding:0;
  }
  #header{
    width:100%;
  }
  .row-fluid, .container {
   width: 100%;
   margin:0 auto;
  }
  .span1{
    width:100%;
  }
  .logo{
		background-position: center center;
		width: 100%;
		height: 140px;
  }
  #title{
    display:none;
  }
  #nav{
  	margin: 8px auto 0;
  	border-bottom: #ccc solid 1px;
  	width:100%;
  	height:34px;
  	ul.nav{
  		width: 100%;
  		margin:0 auto;
  		li{
  			width:25%;
  			float: left;
  			a{
  				text-shadow:none;
  				color: #1bc0dd;
  				width:auto;
  				padding:5px 0px;
  				text-align:center;
  				letter-spacing:0.7pt;
  			}
  		}
  		li:hover{
  	    border-bottom: #a9aaaa solid 4px;
  	    a{
  	    background:transparent;
  	    }
  	  }
  	}
  }
  .slider{
    width:920px;
		height: 450px;
		position: relative;
		top: 0px;
		margin: 15px auto 0;
		img{
			width: 100%;
			height: auto;
		}
  	.carousel-control{
      background: none;
  		border: 0px;
  		-webkit-border-radius: 0;
  		-moz-border-radius: 0;
  		border-radius: 0;
  		text-indent: -9999px;
  		background-image: url(flechasweb.png);
  		line-height: 2em;
  	}
  	.left{
      background-position: 0px 170px;
      background-repeat: no-repeat;
    }
  	.right{
      background-position: -72px 170px;
      background-repeat: no-repeat;
    }
  }
}