@media (min-width: 980px){
  #header{
    width:100%;
  }
  .bx-wrapper{
    margin-top:20px;
  }
  .row-fluid, .container {
   width: 920px;
   margin:0 auto;
  }
  .logo{
		background-position: center left;
		width: 100%;
		height: 140px;
  }
  #title{
    height:140px;
  }
  .navbar .nav {
    width:65%;
    display: block;
    float: none;
    margin: 0 auto;
    position: relative;
  }
  .navbar .nav > li {
    float: left;
    width:25%;
    height:36px;
  }
  .navbar .nav > li:hover {
    border-bottom: #a9aaaa solid 4px;
    a{
      color: #1bc0dd;
    }
  }
  .navbar .nav > li > a {
    text-shadow:none;
  	color: #1bc0dd;
  	width:auto;
  	padding:9px 0px;
  	text-align:center;
  	letter-spacing:0.7pt;
  	text-decoration:none;
  }
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 920px;
  }
  .slider{
    width:920px;
		height: 450px;
		position: relative;
		top: 0px;
		margin: 15px auto 0;
		img{
			width: 100%;
			height: auto;
		}
  	.carousel-control{
      background: none;
  		border: 0px;
  		-webkit-border-radius: 0;
  		-moz-border-radius: 0;
  		border-radius: 0;
  		text-indent: -9999px;
  		background-image: url(flechasweb.png);
  		line-height: 2em;
  	}
  	.left{
      background-position: 0px 170px;
      background-repeat: no-repeat;
    }
  	.right{
      background-position: -72px 170px;
      background-repeat: no-repeat;
    }
  }
  .detalles h1{
    text-align:left;
  }
}
@media (max-width: 768px){
  body{
    margin:0;
    padding:0;
  }
  .properties .index .bigselect .selectmask select {
    font: 22px "HelveticaNeueLTStd-UltLtEx";
  }
  .slider-wrapper{
    margin: 0px auto;
    .nivo-caption{
      font:36px 'HelveticaNeueLTStd-UltLtEx';
      text-align: right;
      color:#fff;
      background:transparent;
      padding:20px 30px;
      letter-spacing: 1pt;
    }
  }

  #header{
    width:100%;
    .span3, .span5{
      display:none;
    }
  }
  p{
    padding:0px 20px;
  }
  .row-fluid, .container {
   width: 100%;
   margin:0 auto;
  }
  .span1, .span3, .span6{
    width:100%;
  }
  .footer{
    padding-top:3em;
    margin-top:3.5em;
    .newsletter, .social{
      display:none;
    }
    h4, p{
      text-align:center;
      margin-top:20px;
    }
  }
  .logo{
    background-position: center center;
    width: 100%;
    height: 140px;
  }
  .navbar .nav {
    width:100%;
    display: block;
    float: none;
    margin: 0 auto;
    position: relative;
  }
  .navbar .nav > li {
    float: left;
    width:100%;
    height:36px;
  }
  .navbar .nav > li:hover {
    border:none;
    a{
      background:transparent;
    }
    a:hover{
      background:transparent;
    }
  }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
    padding:0;
    margin:0;
    border-bottom:0px;
  }
  .navbar .nav > li > a {
    font: 14px 'HelveticaLTStd-Light';
    text-shadow:none;
    color: #1bc0dd;
    width:auto;
    padding:10px;
    text-align:center;
    letter-spacing:0.7pt;
    text-decoration:none;
  }
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 100%;
  }
  .navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top {
    margin:0px;
  }
  .nav-collapse,.nav-collapse.collapse {
    overflow: hidden;
    height: 0;
    border-top:1px solid #ccc;
  }
  .navbar .btn-navbar{
    background:transparent url(arrowmini.png) no-repeat center center;
    border:none;
    padding: 20px 20px;
  }
  .navbar .btn-navbar:hover{
    background:transparent url(arrowmini.png) no-repeat center center;
  }
  .propicons{
  }
}
@media (max-width: 568px){
  .properties .index .bigselect {
    width: 55%;
  }
  .properties .index .bigselect .selectmask select {
    font: 22px "HelveticaNeueLTStd-UltLtEx";
  }
}
@media (max-width: 480px){
  body{
    margin:0;
    padding:0;
  }
  .home{
    ul{
      margin:0px;
    }
    .bx-prev, .bx-next, .bx-caption{
      display:none;
    }
    .bxslider{
      margin:0px;
    }
  }
  #header{
    width:100%;
    .span3, .span5{
      display:none;
    }
  }
  .properties .show .row-fluid, .properties_en .show .row-fluid{
    width:100%;
    .span4{
      width:80%;
      margin:0 10%;
    }
    .detalles{
      display:none;
    }
    h5{
      float:left;
      margin-top:20px;
      width:100%;
    }
  }
  .properties .show .desc, .properties_en .show .desc{
    margin-top:0px;
  }
  .properties .index .bigselect .selectmask select {
    font: 18px "HelveticaNeueLTStd-UltLtEx";
  }
  .properties .index .smallselect {
    margin:0px;
    .selectmask {
      margin:0 5%;
      width:90%;
    }
  }
  .properties .index .smallselect:first-child {
    margin-top:30px;
  }
  .properties .index .bigselect {
    width: 80%;
  }
  p{
    padding:0 10%;
  }
  .row-fluid, .container {
   width: 100%;
   margin:0 auto;
  }
  .span1, .span3, .span6{
    width:100%;
  }
  .footer{
    padding-top:3em;
    margin-top:3.5em;
    .newsletter, .social{
      display:none;
    }
    h4, p{
      text-align:center;
      margin-top:20px;
    }
  }
  .logo{
    background-position: center center;
    width: 100%;
    height: 140px;
  }
  .navbar .nav {
    width:100%;
    display: block;
    float: none;
    margin: 0 auto;
    position: relative;
  }
  .navbar .nav > li {
    float: left;
    width:100%;
    height:36px;
  }
  .navbar .nav > li:hover {
    border:none;
    a{
      background:transparent;
    }
    a:hover{
      background:transparent;
    }
  }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
    padding:0;
    margin:0;
    border-bottom:0px;
  }
  .navbar .nav > li > a {
    font: 14px 'HelveticaLTStd-Light';
    text-shadow:none;
    color: #1bc0dd;
    width:auto;
    padding:10px;
    text-align:center;
    letter-spacing:0.7pt;
    text-decoration:none;
  }
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 100%;
  }
  .navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top {
    margin:0px;
  }
  .nav-collapse,.nav-collapse.collapse {
    overflow: hidden;
    height: 0;
    border-top:1px solid #ccc;
  }
  .navbar .btn-navbar{
    background:transparent url(arrowmini.png) no-repeat center center;
    border:none;
  }
  .navbar .btn-navbar:hover{
    background:transparent url(arrowmini.png) no-repeat center center;
  }
  .propicons{
    ul li{
      width:60%;
      padding:0 20%;
      a{
        width:100%;
      }
    }
  }
  .slider-wrapper{
    .nivo-caption{
      visibility: hidden;
    }
  }
}