.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar(type="button" data-toggle="collapse" data-target=".nav-collapse")
      .nav-collapse.collapse
        %ul.nav.navbar
          %li#properties
            = link_to('HOME', root_path)
          %li#neighborhoods
            = link_to('NOSOTROS', about_us_path)
          %li#about_us
            = link_to('PROPIEDADES', properties_path)
          %li#contact_us
            = link_to('CONTACTO', contact_path) 
      